/*  your css code here. If applicable */
body {
	width:1100px;
}
.imageContainer {
  margin-bottom: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;	
  text-align: center;
}
.c1 img{
	width:200px;
}
.c1 {
	  border: 1px solid black;	

}
.c2 {
	  border: 1px solid black;	

	width:600px;
}